.cadastre-se{
    text-align: center;
}
.butaologin{
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-top: 30px;
    width: 250px;
    padding: 10px;
}
.div1{
    display:flex;
    justify-content: center;
    

}
.filhasDiv1{
    margin: 2%;
}


.login{
    width: 250px;
}

.outrasopcoes{
    color: blue;
}

.logingoogle{
    background-color: white;
    width: 250px;
    padding: 6px;
    border-radius: 5px;
}

